footer.footer {
	padding:0;
	background:#282828;
	border:none;
}
footer.footer .footer-nav li a:hover {
	text-decoration:underline;
	color:#fff;
}
footer.footer .copyright { padding:23px 0; }
footer.footer #footer-text {
	color:#999;
	font-size:13px;
}
footer.footer #footer-text a.site-name { color:#fff; }
footer.footer #footer-text a.site-name:hover { text-decoration:underline; }
footer.footer #footer-text a { color:#999; }
footer.footer #footer-text a:hover { color:#fff; }
footer.footer .footer-widgets-wrap {
	position:relative;
	padding:26px 0;
}
footer.footer .footer-widgets-wrap:after {
	left:-100%;
	right:-100%;
	top:0;
	bottom:0;
	content:"";
	position:absolute;
	background:#f7f7f7;
}
footer.footer .footer-widgets-wrap .footer-widgets {
	position:relative;
	z-index:2;
}
footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li {
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:33%;
	padding:0 20px 5px 0;
	overflow:hidden;
}
@media (max-width: 620px) {
	footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li {
		width:100%;
		float:none;
		padding:10px;
	}
}
footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li a {
	text-decoration:none !important;
	display:inline;
}
footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li .social_ico {
	float:left;
	height:35px;
}
footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li .social_label_wrap .social_label {
	display:block;
	font-size:25px;
	font-weight:300;
	list-style:29px;
	padding:10px 0 5px 0;
	color:#383838;
}
footer.footer .footer-widgets-wrap .footer-widgets .social__list .social_li .social_label_wrap .social_label_mess {
	display:block;
	color:#999;
	font-size:13px;
	list-style:20px;
}
@media (max-width: 767px) {
	footer.footer { padding:10px; }
}
